#section_header nav ul li {
  list-style: none;
  float: left;
  padding: 30px;
  display: flex;
}

#section_header nav ul li a {
  text-decoration: none;
  color: black;
}

#section_header .Menú {
  background-color: rgba(243, 243, 243, 1);
}
#section_header header {
  height: 100%;
}
#section_header .container {
  display: flex;
}
#section_header .cronica {
  display: flex;
  justify-content: center;
}

.placroj {
  padding: 1px;
  margin-left: 0px;
  background-color: rgba(192, 0, 0, 1);
}
.placroj h2 {
  margin-left: 20px;
  color: rgba(255, 255, 255, 1)
}
.botones {
  display: flex;
  justify-content: center;
}
.botones button {
  font-size: 1.1rem;
  width: 180px;
  height: 50px;

}
.botones .enVotacion {

  margin-top: 20px;
  padding: 10px;
  background: rgba(111, 17, 17, 1);
  color: rgba(143, 143, 143, 1);
  border: none;
  width: 30%;
}
.botones .masVotadas {
  padding: 10px;
margin-top: 20px;
  background: rgba(192, 0, 0, 1);
  color: white;
  border: none;
  width: 30%;
}

.container {
  display: flex;
  justify-content: center;
}
.container .card {
  margin-top: 30px;
  margin-left: 30px;
}
.cargarmas {
  display: flex;
  justify-content: center;
}
.cargarmas button {
background-color:rgba(192, 0, 0, 1);
border: none;
color: white;
 padding-left: 50px;
padding-right: 50px;
padding-top: 10px;
padding-bottom: 10px;
margin-top: 30px;
  width: 15%;
  margin-bottom: 15px;
}

.noticrel {
  display: flex;
  justify-content: space-between;
  padding: 1px;
  margin-left: 0px;
  background-color: rgba(192, 0, 0, 1);
}
.noticrel h2  {
  margin-left: 20px;
  color: rgba(255, 255, 255, 1) ;
}

.noticrel h3 {
  margin-right: 20px;
  color: rgba(255, 255, 255, 1) ;
}
